[Unit]
Description=Monitor RAM usage
#Requires=exampleLog.service
DefaultDependencies=no

[Service]
PIDFile=/tmp/monitoring.pid
Type=simple
ExecStart=/home/vagrant/monitoring.sh
TimeoutStartSec=5min
Restart=on-failure

[Install]
WantedBy=multi-user.target
